.shop-container{
  display: grid;
  grid-template-columns: 4fr 1fr;
}
.product-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;
  margin: 50px;
}
.cart-container{
  padding: 20px;
  font-size: 18px;
  color: #1C2B35;
  background-color:  #fbdaa8;
}
.cart-container h1{
  text-align: center;
}